.show_section {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.show_subtitle {

  p,
  h4 {
    font-size: 14px;
  }

}




// .show_title h2 {
//   font-size: calc(10px + 2vmin);
// }